@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --light: rgb(212, 212, 212);
  --frosted: rgba(255, 255, 255, 0.15);
  --frosted-focus: rgba(255, 255, 255, 0.5);
}

* {
  font-family: 'Inter', Arial, sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--light);
}

@media only screen and (max-width: 470px) {
  * {
    font-size: 12px;
  }
  .credits i {
    display: none;
  }

  main header {
    justify-content: center;
    padding: 0;
  }

  header #searchbar {
    width: 70vw;
  }

  main .main-weather-info {
    padding-top: 10vh;
  }

  .hourly-forecast .forecast-item-container {
    justify-content: flex-start;
  }
}

body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  width: 100%;
}

main {
  height: 100vh;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frosted {
  background-color: var(--frosted);
  backdrop-filter: blur(0.5rem);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 14vh;
  padding: 0 1rem;
  padding-right: 2rem;
}

.credits i {
  color: var(--frosted-focus);
  font-size: 3.2rem;
}

.credits:hover {
  transition: 0.2s ease-out;
  transform: scale(1.1);
}

.search-options {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.search {
  position: relative;
  width: fit-content;
}

#searchbar {
  border: none;
  padding: 0.7rem 3rem;
  width: 22rem;
  border-radius: 2rem;
}

#searchbar::placeholder {
  color: var(--light);
}

.search a {
  position: absolute;
  left: 1rem;
  top: 0.73rem;
}

.icon-spin5 {
  position: absolute;
  right: 0.8rem;
  top: 0.73rem;
}

.error-msg-div {
  position: absolute;
  display: none;
  gap: 0.5rem;
  bottom: -1.5rem;
  left: 1rem;
}

.error-msg,
.icon-attention-circled {
  color: var(--frosted-focus);
  font-size: 0.8rem;
}

.geolocation {
  cursor: pointer;
  padding: 0.7rem;
  border-radius: 2rem;
}

#searchbar:focus {
  outline: 0.01rem solid var(--frosted-focus);
}

.main-weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12vh;
  height: fit-content;
  width: 100%;
}

.weather,
.hourly-forecast {
  flex-direction: column;
  width: 100%;
}

.location {
  font-size: 3rem;
  font-weight: 600;
}

.time {
  font-size: 1.2rem;
  opacity: 0.7;
}

.temperature {
  width: fit-content;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.weather .temperature {
  position: relative;
}

.measurement {
  font-size: 8rem;
  font-weight: 600;
}

.symbol {
  position: absolute;
  right: -1.8rem;
  font-size: 4rem;
  font-weight: 400;
  margin-top: 1rem;
}

.condition {
  font-size: 1.5rem;
}

.low-high {
  display: flex;
  padding-top: 0.2rem;
  gap: 0.6rem;
}

.low-high-label {
  margin-right: -0.5rem;
}

.hourly-forecast {
  margin-top: 6vh;
  display: flex;
  padding: 0 5%;
  gap: 0.8rem;
}

.forecast-title,
.info-title {
  color: var(--frosted-focus);
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

.forecast-item-container {
  overflow-x: scroll;
  width: 100%;
  gap: 1rem;
  padding-bottom: 2vh;
}

::-webkit-scrollbar {
  display: none;
}

.forecast-item {
  flex-direction: column;
  gap: 0.1rem;
  border-radius: 0.4rem;
  padding: 0 0.3rem;
  width: 4.6rem;
}

.forecast-item .time {
  opacity: 0.9;
  font-size: 1.4rem;
}

.forecast-item .temperature {
  font-weight: 600;
  cursor: auto;
}

.arrow-scroll {
  color: var(--frosted-focus);
  cursor: pointer;
  padding: 1rem 0;
  font-size: 1.2rem;
  transition: 0.1s ease-in-out;
}

.arrow-scroll:hover {
  transform: translateY(0.1rem);
}

.info-section {
  height: 100vh;
  margin-bottom: 0.5rem;
  width: 100%;
  padding: 2% 5%;
}

.info-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2% 2%;
  height: 100%;
  width: 100%;
}

.info-container {
  color: var(--frosted-focus);
  max-width: 100%;
  height: 12.5rem;
  border-radius: 0.8rem;
  padding: 1.4rem;
  grid-column: span 1;
}

.center {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.center .measurement {
  font-size: 2.8rem;
  font-weight: 400;
}

.ten-day-forecast {
  height: fit-content;
  grid-column: span 2;
  grid-row: span 3;
}

.day-forecast-container {
  display: flex;
  flex-direction: column;
  padding-top: 1.8rem;
}

.day-forecast-item {
  display: flex;
  justify-content: space-between;
  border-top: 0.01rem solid var(--frosted);
  padding: 0.78rem;
}

.day-forecast-item > * {
  font-size: 1.3rem;
  color: var(--frosted-focus);
}

.label-container {
  border: none;
  padding: 0.3rem 0.8rem;
}

.label {
  font-style: normal;
  font-size: 0.8rem;
}

.day.label {
  margin-right: -0.5rem;
}

.day-forecast-low.label {
  margin-left: 0.2rem;
}

.day {
  width: 7rem;
}

.day-forecast-icon {
  text-align: center;
  width: 3rem;
}

.day-forecast-high,
.day-forecast-low {
  text-align: center;
  width: 2rem;
}

.visible {
  display: flex;
}
